# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\maven\maven_work\huashanlunjian\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
